/* Header */

.header{   
    width: 100%;
    height: 190px;
    position: absolute;
    top: 0px;
    right: 0px;
    &__title{
        height: 160px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 30px;
            box-shadow: 0px 0px 12px rgb(133, 132, 132);
            background-color: white;
                text-align: center;
                font-family: 'Shrikhand';
                font-weight: lighter;
                font-style: italic;
                font-size: 75px;
    }
}

.nav{
    &__localisation{
    display: flex;
    justify-content: center;
    align-items: center;
        font-size: 40px;
        background-color: rgb(233, 232, 232);
    &__logo{
    margin-right: 50px;
    }  }
    &__reservation{
    display: flex;
    flex-direction: column;
        height: 760px;
        padding-top: 70px;
        padding-bottom: 120px;
            justify-content:space-evenly;
            align-items: center;
            background-color: #f2f2f2;
    &__heading{
    margin-top: 0px;
    margin-bottom: 0px;
        font-size: 63px;
        font-weight: bolder;
        text-align: center;
    }
    &__description{
    margin-top: 0px;
        font-size: 45px;
        font-weight: lighter;
        text-align: center;
    }
}
}

.section-fonctionnement{
    &__list{
        padding-left: 90px;
        height: 840px;
    }
    &__button{
        margin-bottom: 65px;
        position: relative;
}
}