@charset "UTF-8";
/* Règles communes */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: black;
  margin: auto;
  margin-top: 160px;
}

a {
  text-decoration: none;
  background-color: #f2f2f2;
}

.button {
  padding-right: 50px;
  padding-left: 50px;
  font-size: 40px;
  -webkit-box-shadow: 0px 8px 30px #c4c2c2;
          box-shadow: 0px 8px 30px #c4c2c2;
}

.button--colour {
  color: white;
  background-color: #FF79DA;
  border-radius: 90px 90px 90px 90px;
}

.button--basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 94%;
  height: 185px;
  padding-left: 90px;
  color: black;
  background-color: #f2f2f2;
  border-radius: 60px 60px 60px 60px;
  font-size: 42px;
  font-weight: bold;
}

.button__icon {
  color: #706f6f;
  font-size: 43px;
}

.button__link {
  text-decoration: none;
  height: 185px;
}

.button__link li:hover {
  background-color: #f2eafb;
}

.section__heading {
  font-size: 60px;
  margin-left: 60px;
  margin-top: 120px;
  margin-bottom: 75px;
}

.list-type {
  position: absolute;
  left: -30px;
  background-color: #9356DC;
  border-radius: 90px 90px 90px 90px;
  color: white;
  font-size: 35px;
  font-weight: lighter;
  text-align: center;
  padding: 10px 20px 10px 20px;
}

.fa-mobile-alt {
  font-size: 53px;
  padding-right: 80px;
}

.fa-list-ul {
  font-size: 45px;
  padding-right: 70px;
}

.fa-store {
  font-size: 45px;
  padding-right: 65px;
}

.restaurant-prev {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  width: 90%;
  height: 650px;
  margin-bottom: 60px;
  margin-left: 50px;
  border-radius: 40px 40px 40px 40px;
}

.restaurant-prev__description {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 200px;
  border-radius: 0px 0px 40px 40px;
  background-color: white;
}

.restaurant-prev__first {
  background-image: url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: 100%;
  background-position: top;
}

.restaurant-prev__second {
  background-image: url("images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: 100%;
  background-position-y: -400px;
}

.restaurant-prev__third {
  background-image: url("images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: 100%;
  background-position: top;
}

.restaurant-prev__fourth {
  background-image: url("images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: 100%;
  background-position: top;
}

.description__title {
  font-size: 47px;
  margin-left: 40px;
  margin-bottom: 15px;
}

.description__localisation {
  font-size: 43px;
  font-weight: lighter;
  margin-left: 40px;
  margin-top: 0px;
}

.description__likesicon {
  font-size: 65px;
  position: absolute;
  bottom: 80px;
  right: 50px;
}

/* Header */
.header {
  width: 100%;
  height: 190px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.header__title {
  height: 160px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 30px;
  -webkit-box-shadow: 0px 0px 12px #858484;
          box-shadow: 0px 0px 12px #858484;
  background-color: white;
  text-align: center;
  font-family: 'Shrikhand';
  font-weight: lighter;
  font-style: italic;
  font-size: 75px;
}

.nav__localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  background-color: #e9e8e8;
}

.nav__localisation__logo {
  margin-right: 50px;
}

.nav__reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 760px;
  padding-top: 70px;
  padding-bottom: 120px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
}

.nav__reservation__heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 63px;
  font-weight: bolder;
  text-align: center;
}

.nav__reservation__description {
  margin-top: 0px;
  font-size: 45px;
  font-weight: lighter;
  text-align: center;
}

.section-fonctionnement__list {
  padding-left: 90px;
  height: 840px;
}

.section-fonctionnement__button {
  margin-bottom: 65px;
  position: relative;
}

.section-restaurants {
  background-color: #f2f2f2;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-restaurants .section-heading {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
/*# sourceMappingURL=main.css.map */