/* Règles communes */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: auto;
}

/* Header */

.main-title {
    font-family: 'Shrikhand';
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-size: 90px;
}

.localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-color: rgb(233, 232, 232);
}

.reservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}