.button{
    padding-right: 50px;
    padding-left: 50px;
        font-size: 40px;
            box-shadow: 0px 8px 30px rgb(196, 194, 194);
    &--colour{
        color: white;
        background-color: $colour-secondary;
        border-radius: 90px 90px 90px 90px;
    }
    &--basic{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 94%;
        height: 185px;
        padding-left: 90px;
        color: black;
        background-color: $colour-fourth;
        border-radius: 60px 60px 60px 60px;
        font-size: 42px;
        font-weight: bold;
    }
    &__icon{
        color: rgb(112, 111, 111);
        font-size: 43px;
    }
    &__link{
        text-decoration: none;
        height: 185px;
        li:hover{
            background-color: lighten($colour-primary, 35%);
        }
}
}

.section{
    &__heading{
        @include section-heading;
       
    }}

.list-type{
    position: absolute;
    left: -30px;
    background-color: $colour-primary;
    border-radius: 90px 90px 90px 90px;
    color: white;
    font-size: 35px;;
    font-weight: lighter;
    text-align: center;
    padding: 10px 20px 10px 20px;
}

.fa-mobile-alt{
    font-size: 53px;
    padding-right: 80px;
}

.fa-list-ul{
    font-size: 45px;
    padding-right: 70px;
}

.fa-store{
    font-size: 45px;
    padding-right: 65px;
}

.restaurant-prev{
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");

    width: 90%;
    height: 650px;
    margin-bottom: 60px;
    margin-left: 50px;

    border-radius: 40px 40px 40px 40px;

    &__description{
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 100%;
        height: 200px;

        border-radius: 0px 0px 40px 40px;
        background-color: white;   
    } 
    &__first{
        background-image: url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
        @include background-size;
    }
    &__second{
        background-image: url("images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
        background-size: 100%;
        background-position-y: -400px;
    }
    &__third{
        background-image: url("images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
        @include background-size;
    }
    &__fourth{
        background-image: url("images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
        @include background-size;
    }
    }

.description{
    &__title{
        font-size: 47px;
        margin-left: 40px;
        margin-bottom: 0px;
    }
    &__localisation{
        font-size: 43px;
        font-weight: lighter;
        margin-left: 40px;
        margin-top: 0px;
    }
    &__likesicon{
        font-size: 65px;
        position: absolute;
        bottom: 80px;
        right: 50px;

    }
}

.fa-utensils{
    font-size: 35px;  
    margin-right: 11px;
}

.fa-hands-helping{
    font-size: 30px;  
}