/* Règles communes */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: black;
    margin: auto;
    margin-top: 160px;
}

a{
    text-decoration: none;
    background-color: $colour-fourth;
}
